In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [2]:
train_df = pd.read_csv(Path('Resources/2019loans.csv'),true_values=['Y','y'],false_values=['N','n'])
test_df = pd.read_csv(Path('Resources/2020Q1loans.csv'),true_values=['Y','y'],false_values=['N','n'])

In [3]:
train_df

,Unnamed: 0,index,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,57107,57107,13375.0,0.1797,483.34,MORTGAGE,223000.0,Not Verified,low_risk,False,...,100.0,50.0,0.0,0.0,577150.0,122018.0,32000.0,170200.0,False,False
1,141451,141451,21000.0,0.1308,478.68,MORTGAGE,123000.0,Source Verified,low_risk,False,...,85.0,33.3,0.0,0.0,132750.0,27896.0,15900.0,35398.0,False,False
2,321143,321143,20000.0,0.1240,448.95,MORTGAGE,197000.0,Source Verified,low_risk,False,...,85.7,33.3,0.0,0.0,628160.0,114043.0,22600.0,90340.0,False,False
3,11778,11778,3000.0,0.1240,100.22,RENT,45000.0,Not Verified,low_risk,False,...,100.0,16.7,1.0,0.0,42006.0,20761.0,19900.0,15406.0,False,False
4,169382,169382,30000.0,0.1612,1056.49,MORTGAGE,133000.0,Source Verified,low_risk,False,...,100.0,66.7,0.0,0.0,283248.0,109056.0,79500.0,58778.0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12175,354912,354912,19975.0,0.2565,801.09,RENT,28000.0,Not Verified,high_risk,False,...,100.0,16.7,0.0,0.0,50055.0,28192.0,18700.0,19055.0,False,False
12176,354944,354944,15000.0,0.1774,540.34,RENT,50000.0,Verified,high_risk,False,...,90.5,11.1,0.0,0.0,70324.0,57025.0,13300.0,54824.0,False,False
12177,354973,354973,3600.0,0.1862,131.28,RENT,60000.0,Not Verified,high_risk,False,...,100.0,0.0,0.0,0.0,83765.0,55156.0,14800.0,53065.0,False,False
12178,355002,355002,15000.0,0.0881,475.68,MORTGAGE,62000.0,Source Verified,high_risk,False,...,100.0,0.0,0.0,0.0,189930.0,23748.0,7000.0,32930.0,False,False
12179,355307,355307,15000.0,0.1774,540.34,RENT,54080.0,Not Verified,high_risk,False,...,90.0,100.0,0.0,0.0,48968.0,29786.0,2900.0,33968.0,False,False

In [4]:
#get rid of useless columns
train_df=train_df.drop(columns=['Unnamed: 0','index'])
train_df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,dti,delinq_2yrs,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,13375.0,0.1797,483.34,MORTGAGE,223000.0,Not Verified,low_risk,False,29.99,0.0,...,100.0,50.0,0.0,0.0,577150.0,122018.0,32000.0,170200.0,False,False
1,21000.0,0.1308,478.68,MORTGAGE,123000.0,Source Verified,low_risk,False,11.26,2.0,...,85.0,33.3,0.0,0.0,132750.0,27896.0,15900.0,35398.0,False,False
2,20000.0,0.1240,448.95,MORTGAGE,197000.0,Source Verified,low_risk,False,11.28,0.0,...,85.7,33.3,0.0,0.0,628160.0,114043.0,22600.0,90340.0,False,False
3,3000.0,0.1240,100.22,RENT,45000.0,Not Verified,low_risk,False,18.08,0.0,...,100.0,16.7,1.0,0.0,42006.0,20761.0,19900.0,15406.0,False,False
4,30000.0,0.1612,1056.49,MORTGAGE,133000.0,Source Verified,low_risk,False,27.77,0.0,...,100.0,66.7,0.0,0.0,283248.0,109056.0,79500.0,58778.0,False,False

In [5]:
#get rid of useless columns
test_df=test_df.drop(columns=['Unnamed: 0','index'])
test_df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,dti,delinq_2yrs,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,40000.0,0.0819,814.70,MORTGAGE,140000.0,Not Verified,low_risk,False,19.75,0.0,...,97.7,0.0,0.0,0.0,527975.0,70914.0,74600.0,99475.0,False,False
1,6000.0,0.1524,208.70,RENT,55000.0,Not Verified,low_risk,False,11.52,2.0,...,66.7,0.0,0.0,0.0,34628.0,23460.0,5900.0,23628.0,False,False
2,3600.0,0.1695,128.27,RENT,42000.0,Not Verified,low_risk,False,6.74,0.0,...,100.0,0.0,0.0,0.0,23100.0,19183.0,7300.0,15000.0,False,False
3,20000.0,0.1524,478.33,RENT,100000.0,Not Verified,low_risk,False,12.13,0.0,...,100.0,50.0,0.0,0.0,56481.0,43817.0,13800.0,35981.0,False,False
4,3600.0,0.1240,120.27,RENT,50000.0,Not Verified,low_risk,False,16.08,0.0,...,100.0,25.0,0.0,0.0,45977.0,32448.0,21000.0,24977.0,False,False

In [6]:
#I tried this before I remmebered what get_dummies is for
test_df.replace({'pymnt_plan': {'n': 0, 'y': 1}})

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,dti,delinq_2yrs,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,40000.0,0.0819,814.70,MORTGAGE,140000.0,Not Verified,low_risk,False,19.75,0.0,...,97.7,0.0,0.0,0.0,527975.0,70914.0,74600.0,99475.0,False,False
1,6000.0,0.1524,208.70,RENT,55000.0,Not Verified,low_risk,False,11.52,2.0,...,66.7,0.0,0.0,0.0,34628.0,23460.0,5900.0,23628.0,False,False
2,3600.0,0.1695,128.27,RENT,42000.0,Not Verified,low_risk,False,6.74,0.0,...,100.0,0.0,0.0,0.0,23100.0,19183.0,7300.0,15000.0,False,False
3,20000.0,0.1524,478.33,RENT,100000.0,Not Verified,low_risk,False,12.13,0.0,...,100.0,50.0,0.0,0.0,56481.0,43817.0,13800.0,35981.0,False,False
4,3600.0,0.1240,120.27,RENT,50000.0,Not Verified,low_risk,False,16.08,0.0,...,100.0,25.0,0.0,0.0,45977.0,32448.0,21000.0,24977.0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4697,30000.0,0.1240,673.42,RENT,140480.0,Source Verified,high_risk,False,15.74,0.0,...,100.0,28.6,0.0,0.0,159688.0,110873.0,48400.0,107388.0,False,False
4698,24000.0,0.0756,747.22,RENT,50000.0,Not Verified,high_risk,False,26.81,0.0,...,100.0,0.0,0.0,0.0,62375.0,18928.0,13300.0,30775.0,False,False
4699,10000.0,0.2305,387.36,RENT,33000.0,Verified,high_risk,False,38.51,0.0,...,100.0,0.0,0.0,0.0,43250.0,33022.0,8500.0,29550.0,False,False
4700,8000.0,0.1862,205.86,RENT,38000.0,Source Verified,high_risk,False,16.36,0.0,...,95.0,0.0,1.0,0.0,31357.0,19595.0,1500.0,9657.0,False,False
4701,30000.0,0.2055,1123.34,RENT,180000.0,Source Verified,high_risk,False,12.06,0.0,...,100.0,33.3,0.0,0.0,218686.0,209389.0,5600.0,209986.0,False,False

### Train Data

In [7]:
# Convert categorical data to numeric and separate target feature for testing data
X_tr = pd.get_dummies(train_df)
X_tr

,loan_amnt,int_rate,installment,annual_inc,pymnt_plan,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,loan_status_high_risk,loan_status_low_risk,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App
0,13375.0,0.1797,483.34,223000.0,False,29.99,0.0,0.0,15.0,0.0,...,0,1,0,0,0,1,0,1,1,0
1,21000.0,0.1308,478.68,123000.0,False,11.26,2.0,0.0,16.0,0.0,...,0,0,1,0,0,1,0,1,1,0
2,20000.0,0.1240,448.95,197000.0,False,11.28,0.0,0.0,12.0,0.0,...,0,0,1,0,0,1,0,1,1,0
3,3000.0,0.1240,100.22,45000.0,False,18.08,0.0,0.0,12.0,1.0,...,1,1,0,0,0,1,0,1,1,0
4,30000.0,0.1612,1056.49,133000.0,False,27.77,0.0,2.0,13.0,0.0,...,0,0,1,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12175,19975.0,0.2565,801.09,28000.0,False,28.42,0.0,0.0,15.0,0.0,...,1,1,0,0,1,0,0,1,1,0
12176,15000.0,0.1774,540.34,50000.0,False,23.43,4.0,0.0,16.0,0.0,...,1,0,0,1,1,0,0,1,1,0
12177,3600.0,0.1862,131.28,60000.0,False,28.80,0.0,1.0,14.0,0.0,...,1,1,0,0,1,0,0,1,1,0
12178,15000.0,0.0881,475.68,62000.0,False,11.44,0.0,0.0,5.0,0.0,...,0,0,1,0,1,0,0,1,0,1
12179,15000.0,0.1774,540.34,54080.0,False,21.66,1.0,1.0,5.0,0.0,...,1,1,0,0,1,0,1,0,1,0

In [8]:
X_train = X_tr.drop('loan_status_high_risk', axis=1)
X_train.head()

,loan_amnt,int_rate,installment,annual_inc,pymnt_plan,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,loan_status_low_risk,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App
0,13375.0,0.1797,483.34,223000.0,False,29.99,0.0,0.0,15.0,0.0,...,0,0,1,0,0,1,0,1,1,0
1,21000.0,0.1308,478.68,123000.0,False,11.26,2.0,0.0,16.0,0.0,...,0,0,0,1,0,1,0,1,1,0
2,20000.0,0.1240,448.95,197000.0,False,11.28,0.0,0.0,12.0,0.0,...,0,0,0,1,0,1,0,1,1,0
3,3000.0,0.1240,100.22,45000.0,False,18.08,0.0,0.0,12.0,1.0,...,0,1,1,0,0,1,0,1,1,0
4,30000.0,0.1612,1056.49,133000.0,False,27.77,0.0,2.0,13.0,0.0,...,0,0,0,1,0,1,0,1,1,0

In [9]:
#loan status was catogorized in dummies, just want the ones that are high risk b/c thats what we are looking for 
#that becomes the y axis
y_train = (X_tr['loan_status_high_risk'])

In [10]:
print(X_train.shape, y_train.shape)

(12180, 91) (12180,)

### Test Data

In [11]:
# add missing dummy variables to testing set
Xtst = pd.get_dummies(test_df)
# print(Xtst.columns)
Xtst.head()

,loan_amnt,int_rate,installment,annual_inc,pymnt_plan,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,loan_status_high_risk,loan_status_low_risk,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App
0,40000.0,0.0819,814.70,140000.0,False,19.75,0.0,1.0,18.0,0.0,...,0,1,0,0,0,1,0,1,1,0
1,6000.0,0.1524,208.70,55000.0,False,11.52,2.0,0.0,8.0,0.0,...,1,1,0,0,0,1,0,1,1,0
2,3600.0,0.1695,128.27,42000.0,False,6.74,0.0,0.0,6.0,0.0,...,1,1,0,0,0,1,0,1,1,0
3,20000.0,0.1524,478.33,100000.0,False,12.13,0.0,2.0,7.0,0.0,...,1,1,0,0,0,1,0,1,1,0
4,3600.0,0.1240,120.27,50000.0,False,16.08,0.0,3.0,6.0,0.0,...,1,1,0,0,0,1,0,1,1,0

In [12]:
# Drop the y label to create the X data
X_test = Xtst.drop('loan_status_high_risk', axis=1)
X_test.head()

,loan_amnt,int_rate,installment,annual_inc,pymnt_plan,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,loan_status_low_risk,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App
0,40000.0,0.0819,814.70,140000.0,False,19.75,0.0,1.0,18.0,0.0,...,0,0,1,0,0,1,0,1,1,0
1,6000.0,0.1524,208.70,55000.0,False,11.52,2.0,0.0,8.0,0.0,...,0,1,1,0,0,1,0,1,1,0
2,3600.0,0.1695,128.27,42000.0,False,6.74,0.0,0.0,6.0,0.0,...,0,1,1,0,0,1,0,1,1,0
3,20000.0,0.1524,478.33,100000.0,False,12.13,0.0,2.0,7.0,0.0,...,0,1,1,0,0,1,0,1,1,0
4,3600.0,0.1240,120.27,50000.0,False,16.08,0.0,3.0,6.0,0.0,...,0,1,1,0,0,1,0,1,1,0

In [13]:
# y test data 
y_test = (Xtst['loan_status_high_risk'])
y_test

0       0
1       0
2       0
3       0
4       0
       ..
4697    1
4698    1
4699    1
4700    1
4701    1
Name: loan_status_high_risk, Length: 4702, dtype: uint8

In [14]:
#let's see if everything works
print(X_test.shape, y_test.shape)

(4702, 91) (4702,)

### add dummy variables to test data

In [15]:
#find difference
X_train.columns.difference(X_test.columns)

Index([], dtype='object')

In [16]:
#take out the y test for the x test data 
X_test = Xtst.drop('loan_status_high_risk', axis=1)
X_test.head()

,loan_amnt,int_rate,installment,annual_inc,pymnt_plan,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,loan_status_low_risk,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App
0,40000.0,0.0819,814.70,140000.0,False,19.75,0.0,1.0,18.0,0.0,...,0,0,1,0,0,1,0,1,1,0
1,6000.0,0.1524,208.70,55000.0,False,11.52,2.0,0.0,8.0,0.0,...,0,1,1,0,0,1,0,1,1,0
2,3600.0,0.1695,128.27,42000.0,False,6.74,0.0,0.0,6.0,0.0,...,0,1,1,0,0,1,0,1,1,0
3,20000.0,0.1524,478.33,100000.0,False,12.13,0.0,2.0,7.0,0.0,...,0,1,1,0,0,1,0,1,1,0
4,3600.0,0.1240,120.27,50000.0,False,16.08,0.0,3.0,6.0,0.0,...,0,1,1,0,0,1,0,1,1,0

## Train the Logistic Regression model on the unscaled data and print the model score

In [17]:
# Train a Random Forest Classifier model and print the model score
classifier = LogisticRegression(random_state=1 ,max_iter=10000)
classifier

LogisticRegression(max_iter=10000, random_state=1)

In [18]:
classifier.fit(X_train, y_train)
print(f"Unscaled Logistic Regression Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Unscaled Logistic Regression Testing Data Score: {classifier.score(X_test, y_test)}")

Unscaled Logistic Regression Training Data Score: 0.7088669950738916
Unscaled Logistic Regression Testing Data Score: 0.5772011909825606

### Train a Random Forest Classifier model and print the model score

In [19]:
clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_train, y_train)

In [25]:
print(f'Unscaled Random Forest Training Score: {clf.score(X_train, y_train)}')
print(f'Unscaled Random Forest Testing Score: {clf.score(X_test, y_test)}')

Unscaled Random Forest Training Score: 1.0
Unscaled Random Forest Testing Score: 1.0

In [26]:
# Scaling the X data by using StandardScaler()
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_train_scaled

array([[-0.39311205,  0.73658452, -0.08760946, ...,  0.30264414,
         0.41370744, -0.41370744],
       [ 0.35168119, -0.19171582, -0.10342722, ...,  0.30264414,
         0.41370744, -0.41370744],
       [ 0.25400339, -0.32080462, -0.20434179, ...,  0.30264414,
         0.41370744, -0.41370744],
       ...,
       [-1.34791257,  0.85997823, -1.28263075, ...,  0.30264414,
         0.41370744, -0.41370744],
       [-0.23438563, -1.00231755, -0.11361032, ...,  0.30264414,
        -2.41716707,  2.41716707],
       [-0.23438563,  0.69292214,  0.10586953, ..., -3.30421068,
         0.41370744, -0.41370744]])

In [27]:
# Train the Logistic Regression model on the scaled data and print the model score
X_test_scaled = scaler.transform(X_test)
X_test_scaled

array([[ 2.20755943, -1.12001617,  1.0371484 , ...,  0.30264414,
         0.41370744, -0.41370744],
       [-1.11348584,  0.21833096, -1.01983876, ...,  0.30264414,
         0.41370744, -0.41370744],
       [-1.34791257,  0.54295132, -1.2928478 , ...,  0.30264414,
         0.41370744, -0.41370744],
       ...,
       [-0.72277464,  1.7009538 , -0.41340093, ..., -3.30421068,
         0.41370744, -0.41370744],
       [-0.91813024,  0.85997823, -1.02947877, ...,  0.30264414,
         0.41370744, -0.41370744],
       [ 1.23078141,  1.22636262,  2.08478621, ..., -3.30421068,
         0.41370744, -0.41370744]])

In [28]:
classifier.fit(X_train_scaled, y_train)

LogisticRegression(max_iter=10000, random_state=1)

In [29]:
print(f"Scaled Logistic Regression Training Data Score: {classifier.score(X_train_scaled, y_train)}")
print(f"Scaled Logistic Regression Testing Data Score: {classifier.score(X_test_scaled, y_test)}")

Scaled Logistic Regression Training Data Score: 1.0
Scaled Logistic Regression Testing Data Score: 0.9997873245427478

## Train a Random Forest Classifier model on the scaled data and print the model score

In [30]:
# Train a Random Forest Classifier model on the scaled data and print the model score
clf = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_train_scaled, y_train)

In [32]:
print(f'Scaled Random Forest Training Score: {clf.score(X_train_scaled, y_train)}')
print(f'Scaled Random Forest Testing Score: {clf.score(X_test_scaled, y_test)}')

Scaled Random Forest Training Score: 1.0
Scaled Random Forest Testing Score: 1.0